.nav {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-family: Tahoma, Geneva, Verdana, sans-serif;

    &-btn {
        .icon-burg {
            display: none;
        }
        .icon-close {
            display: block;
        }

        &.collapsed {
            .icon-burg {
                display: block;
            }
            .icon-close {
                display: none;
            }
        }
    }

    &-list {
        position: absolute;
        top: 40px;
        left: 0;
        width: 200px;
        z-index: 10;
        background: #f6f6f6;
    }

    &-item {
        font-size: 1.5rem;
        margin: 15px 0;
    }

    .subnav {
        &-list {
            margin: 0;
        }
        &-item {
            font-size: .875rem;
            padding: 0 0 0 20px;
            position: relative;
            margin: 20px 0;

            &.active {
                font-weight: 900;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 6px;
                    width: 0; 
                    height: 0; 
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    
                    border-left: 4px solid #000000;
                }
            }
        }
    }
}