{% extends "layouts/home.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6">Gallery</div>
			<div class="col-sm-6">
				<h2>ВОДОЛАЗКА В РУБЧИК</h2>
				<div>Арт. 2611581</div>
				<div>8900</div>

				<div>
					<div>
						<h4>ОПИСАНИЕ</h4>
						<a href="">+</a>
					</div>
					<div>
						dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</div>
				</div>
				<div>
					<div>
						<h4>ДЕТАЛИ И УХОД</h4>
						<a href="">+</a>
					</div>
					<div>
						dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</div>
				</div>
				<div>
					<div>
						<h4>ДОСТАВКА И ВОЗВРАТ</h4>
						<a href="">+</a>
					</div>
					<div>
						dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</div>
				</div>
				<div>
					<div>
						<h4>РАЗМЕР НА МОДЕЛИ</h4>
						<a href="">+</a>
					</div>
					<div>
						dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
					</div>
				</div>

				<div>
					ВЫБЕРИТЕ РАЗМЕР | СПРАВОЧНИК ПО РАЗМЕРАМ
				</div>
				<div>
					<select>
						<option>S</option>
					</select>
					<input /> +/-
					<button>ОФОРМИТЬ ЗАКАЗ</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<h4>СПОСОБ ДОСТАВКИ</h4>
				<div>
					<input type="radio"> Доставка
					<input type="radio"> Самовывоз
					<div>! Вариант "Самовывоз" доступен только в городе "Москва"</div>
				</div>
			</div>
			<div class="col-sm-3">
				<h4>АДРЕС</h4>
				<div>
					<input type="radio"> Россия, г. Москва, ул. Кремлевская, д. 3, кв. 15   X
				</div>
				<button>ДОБАВИТЬ АДРЕС</button>
			</div>
			<div class="col-sm-3">
				<h4>СПОСОБ ОПЛАТЫ</h4>
				<div>
					<input type="radio"> Онлайн-оплата
					<input type="radio"> Наличные
					<div>! Вариант "Наличными" доступен при покупке до 6 вещей</div>
				</div>
			</div>
			<div class="col-sm-3">
				<h4>ПОКУПАТЕЛЬ</h4>
				<div>
					<label>Имя, Фамилия *</label>
					<input type="text" />
					<label>Телефон *</label>
					<input type="text" />
					<label>E-mail *</label>
					<input type="text" />
					<label>Комментарии к заказу</label>
					<textarea></textarea>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
