<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul>
                    <li><a href="">КОЛЛЕКЦИЯ</a></li>
                    <li><a href="">СКИДКИ</a></li>
                    <li><a href="">АКЦИИ</a></li>
                    <li><a href="">НОВОСТИ</a></li>
                    <li><a href="">О НАС</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul>
                    <li><a href="">ВОПРОСЫ И ОТВЕТЫ</a></li>
                    <li><a href="">ОФОРМЛЕНИЕ ЗАКАЗА</a></li>
                    <li><a href="">УСЛОВИЯ ДОСТАВКИ</a></li>
                    <li><a href="">ОБМЕН И ВОЗВРАТ</a></li>
                    <li><a href="">РЕКОМЕНДАЦИИ ПО УХОДУ</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li><a href="">РУКОВОДСТВО ПО РАЗМЕРАМ</a></li>
                    <li><a href="">МЕСТА ПРОДАЖ</a></li>
                    <li><a href="">ПУБЛИЧНАЯ ОФЕРТА</a></li>
                    <li><a href="">КОНФИДЕНЦИАЛЬНОСТЬ КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>ПОДПИШИТЕСЬ НА НАШУ НОВОСТНУЮ РАССЫЛКУ</h4>
                <input placeholder="УКАЖИТЕ СВОЙ E-MAIL" />
                <button>ПОДПИСАТЬСЯ</button>
            </div>            
            <div class="col-sm-2">
                <div>RU | EN</div>
                <div>
                    <a href="/"><img src="../../public/icons/f.svg" height="20" /></a>
                    <a href="/"><img src="../../public/icons/vk.svg" height="20" /></a>
                    <a href="/"><img src="../../public/icons/tw.svg" height="20" /></a>
                    <a href="/"><img src="../../public/icons/inst.svg" height="20" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>