<header class="header">
    <div class="container">
        {% include "_template/modules/nav.twig" %}
        <a href="/" class="logo"><img src="../../public/images/logo.svg" width="145" alt="LOGOTYPE" /></a>
    </div>
</header>
