{% set menu = cms.data('menu') %}

<nav class="nav">
    <a data-toggle="collapse" href="#nav" role="button" aria-expanded="false" aria-controls="nav" class="nav-btn collapsed">
        <img src="../../public/icons/burg.svg" width="30" height="23" alt="" class="icon-burg" />
        <img src="../../public/icons/close_bur.svg" width="30" height="23" alt="" class="icon-close" />
    </a>
    
    <div class="nav-list collapse" id="nav">
        {% for item in menu %}
            <div class="nav-item">
                <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
                {% if item.items %}
                    <div class="subnav">
                        {% for subitem in item.items %}                            
                            <div class="subnav-item{% if subitem.active %} active{% endif %}"><a href="{{ subitem.url }}">{{ subitem.label }}</a></div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</nav>