<nav class="nav">
    <a data-toggle="collapse" href="#nav" role="button" aria-expanded="false" aria-controls="collapseExample">
        <img src="../../public/icons/burg.svg" width="30" height="23" alt="" />
        <img src="../../public/icons/close_bur.svg" width="30" height="23" alt="" />
    </a>
    
    <div class="nav-list collapse" id="nav">
        <a class="nav-link" href="/">КОЛЛЕКЦИЯ</a>
    </div>
</nav>
